$color-sucсess: #4ea31e;
$color-process: #f49530;
$color-empty: #e5e5e5;

body {
  padding: 20px;
}

.timeline {
  $block: &;

  $steps: 4;

  $step-point-radius: 5px;
  $step-line-height: 2px;
  $step-label-height: 15px;
  $step-label-offset: 7px;

  width: 100%;
  margin: 30px 0 0;
  padding: ($step-label-height + $step-label-offset) 0;
  position: relative;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  overflow: hidden;

  &__step {
    display: inline-block;
    position: relative;
    list-style-type: none;
    height: $step-line-height;
    background-color: $color-empty;

    &:before,
    &:last-child:after {
      content: '';
      display: block;
      position: absolute;
      top: -$step-point-radius + ($step-line-height / 2);
      width: $step-point-radius * 2;
      height: $step-point-radius * 2;
      box-sizing: border-box;
      border: 2px solid $color-empty;
      border-radius: 50%;
      background: #fff;
    }

    &:last-child:after {
      right: 0;
    }
  }

  &__step_status_success {
    background-color: $color-sucсess;

    &:before {
      border-color: $color-sucсess;
      background-color: $color-sucсess;
    }
  }

  &__step_status_process {
    background-color: $color-process;

    &:before {
      border-color: $color-process;
      background-color: $color-process;
    }
  }

  &__step-label {
    display: block;
    position: absolute;
    top: -($step-label-height + $step-label-offset);
    font-size: 13px;
    line-height: $step-label-height;
    font-family: Arial, Helvetica, sans-serif;
    color: #979694;
  }

  &_label-horizontal_point {
    $step-width: 100% / ($steps - 1);

    #{$block}__step {
      width: $step-width;
    }

    #{$block}__step:last-child {
      &:before {
        left: -($step-point-radius * 2);
      }

      #{$block}__step-label {
        right: 100%;
      }
    }
  }

  &_label-horizontal_line {
    $step-width: 100% / $steps;

    #{$block}__step {
      width: $step-width;
    }

    #{$block}__step-label {
      left: 0;
      right: 0;
      text-align: center;
    }
  }
}
