$color-white: #fff;
$color-sucсess: #4ea31e;
$color-process: #f49530;
$color-empty: #e5e5e5;

body {
  padding: 20px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.loader {
  box-sizing: border-box;
  height: 76px;
  text-align: center;
  padding-top: 30px;
}

.timeline {
  $block: &;

  $step-line-height: 2px;
  $step-point-radius: 5px;
  $step-point-offset: 2px;
  $step-label-width: 100px;
  $step-label-height: 15px;
  $step-label-offset: 7px;

  width: 100%;
  margin: 30px 0 0;
  padding: ($step-label-height + $step-label-offset) 0;
  position: relative;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  overflow: hidden;

  &__step {
    display: inline-block;
    position: relative;
    list-style-type: none;
    box-sizing: border-box;
    padding: 0 ($step-point-radius + $step-point-offset);

    // Points
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: -$step-point-radius + ($step-line-height / 2);
      width: $step-point-radius * 2;
      height: $step-point-radius * 2;
      box-sizing: border-box;
      border: 2px solid $color-empty;
      border-radius: 50%;
      background: $color-white;
    }

    &:before {
      display: block;
      left: -$step-point-radius;
    }

    &:after {
      display: none;
    }

    &:first-child {
      padding-left: ($step-point-radius * 2) + $step-point-offset;

      &:before {
        left: 0;
      }
    }

    &:last-child:after {
      display: block;
      right: 0;
    }
  }

  &__step-line {
    display: block;
    height: $step-line-height;
    background-color: $color-empty;
  }

  &__step_status_success {
    &:before,
    &:last-child:after {
      border-color: $color-sucсess;
      background-color: $color-sucсess;
    }

    #{$block}__step-line {
      background-color: $color-sucсess;
    }
  }

  &__step_status_process {
    &:before {
      border-color: $color-process;
      background-color: $color-process;
    }
  }

  &__step-label {
    display: block;
    position: absolute;
    width: $step-label-width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    line-height: $step-label-height;
    font-family: Arial, Helvetica, sans-serif;
    color: #979694;
  }

  &_label-horizontal_point {
    #{$block}__step-label {
      text-align: center;
      left: -($step-label-width / 2);
    }

    #{$block}__step:first-child {
      #{$block}__step-label {
        text-align: left;
        left: $step-point-radius;
      }
    }

    #{$block}__step:last-child {
      &:before {
        left: -($step-point-radius * 2);
      }

      #{$block}__step-label {
        text-align: right;
        left: -($step-label-width + $step-point-radius);
      }
    }
  }

  &_label-horizontal_line {
    #{$block}__step {
      &:last-child {
        padding-right: ($step-point-radius * 2) + $step-point-offset;
      }
    }

    #{$block}__step-label {
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
    }

    #{$block}__step_status_process {
      #{$block}__step-line {
        background-color: $color-process;
      }
    }
  }

  &_label-vetical_top {
    #{$block}__step-label {
      top: -($step-label-height + $step-label-offset);
    }
  }

  &_label-vetical_bottom {
    #{$block}__step-label {
      bottom: -($step-label-height + $step-label-offset);
    }
  }

  @for $steps-count from 2 through 10 {
    &_steps-count_#{$steps-count} {
      &#{$block}_label-horizontal_point {
        #{$block}__step {
          width: 100% / ($steps-count - 1);

          &:nth-child(#{$steps-count - 1}) {
            padding-right: ($step-point-radius * 2) + $step-point-offset;
          }
        }
      }

      &#{$block}_label-horizontal_line {
        #{$block}__step {
          width: 100% / $steps-count;
        }
      }
    }
  }
}
